package {{package}};

import io.helidon.common.http.Http;
import io.helidon.nima.webserver.http.HttpRules;
import io.helidon.nima.webserver.http.HttpService;
import io.helidon.nima.webserver.http.ServerRequest;
import io.helidon.nima.webserver.http.ServerResponse;

/**
 * Test-only service that allows the client to specify what HTTP status the service should return in its response.
 * This allows the client to know which status family counter should be updated.
 */
public class StatusService implements HttpService {

    @Override
    public void routing(HttpRules rules) {
        rules.get("/{status}", this::respondWithRequestedStatus);
    }

    private void respondWithRequestedStatus(ServerRequest request, ServerResponse response) {
        String statusText = request.path().pathParameters().value("status");
        int status;
        String msg;
        try {
            status = Integer.parseInt(statusText);
            msg = "Successful conversion";
        } catch (NumberFormatException ex) {
            status = Http.Status.INTERNAL_SERVER_ERROR_500.code();
            msg = "Unsuccessful conversion";
        }
        response.status(status).send(msg);
    }
}
