package {{package}};

import io.helidon.common.http.Http;
import io.helidon.nima.webclient.api.WebClient;

/**
 * Executable class that invokes HTTP/1 requests against the server.
 */
public class GreetClientHttp {
    private GreetClientHttp() {
    }

    /**
     * Main method.
     *
     * @param args ignored
     */
    public static void main(String[] args) {
        WebClient client = WebClient.builder()
                .baseUri("http://localhost:8080/greet")
                .build();

        String response = client.method(Http.Method.GET)
                .requestEntity(String.class);

        System.out.println(response);

        response = client.get("Nima")
                .requestEntity(String.class);

        System.out.println(response);
    }
}
