# {{artifactId}}

{{readme-description}}

## Build and run

{{#run-comment}}
{{.}}
{{/run-comment}}

With JDK17+
```bash
mvn package
java -jar target/{{artifactId}}.jar
```

## Exercise the application
{{#readme-exercise-the-application}}
{{.}}
{{/readme-exercise-the-application}}

{{#readme-sections}}
{{.}}
{{/readme-sections}}
