package {{package}};

import java.net.URI;
import java.util.Set;

import io.helidon.webserver.testing.junit5.ServerTest;
import io.helidon.webclient.http1.Http1Client;
import io.helidon.webclient.http1.Http1ClientResponse;
import io.helidon.webclient.security.WebClientSecurity;
import io.helidon.webserver.WebServer;
import io.helidon.security.Security;
import io.helidon.security.providers.httpauth.HttpBasicAuthProvider;

import org.junit.jupiter.api.Test;

import static io.helidon.security.EndpointConfig.PROPERTY_OUTBOUND_SECRET;
import static io.helidon.security.EndpointConfig.PROPERTY_OUTBOUND_ID;
import static org.hamcrest.CoreMatchers.containsString;
import static org.hamcrest.CoreMatchers.not;
import static org.hamcrest.CoreMatchers.is;
import static org.hamcrest.MatcherAssert.assertThat;

@ServerTest
public abstract class SignatureMainTest {

    private final Http1Client client;

    protected SignatureMainTest(WebServer server, URI uri) {
        server.context().register(server);

        Security security = Security.builder()
                .addProvider(HttpBasicAuthProvider.builder().build())
                .build();

        client = Http1Client.builder()
                .addService(WebClientSecurity.create(security))
                .baseUri(uri)
                .build();
    }

    @Test
    public void testService1Hmac() {
        test("/service1", Set.of("user", "admin"), Set.of(), "Service1 - HMAC signature");
    }

    @Test
    public void testService1Rsa() {
        test("/service1-rsa", Set.of("user", "admin"), Set.of(), "Service1 - RSA signature");
    }

    private void test(String uri, Set<String> expectedRoles, Set<String> invalidRoles, String service) {
        try (Http1ClientResponse response = client.get(uri)
                .property(PROPERTY_OUTBOUND_ID, "jack")
                .property(PROPERTY_OUTBOUND_SECRET, "changeit")
                .request()) {

            assertThat(response.status().code(), is(200));

            String payload = response.as(String.class);

            // check login
            assertThat(payload, containsString("id='" + "jack" + "'"));

            // check roles
            expectedRoles.forEach(role -> assertThat(payload, containsString(":" + role)));
            invalidRoles.forEach(role -> assertThat(payload, not(containsString(":" + role))));
            assertThat(payload, containsString("id='" + service + "'"));
        }
    }
}
