
package {{package}};

{{#MainTest-java-imports}}
import {{.}};
{{/MainTest-java-imports}}

{{#MainTest-helidon-imports}}
import {{.}};
{{/MainTest-helidon-imports}}

{{#MainTest-other-imports}}
import {{.}};
{{/MainTest-other-imports}}

{{#MainTest-static-imports}}
import {{.}};
{{/MainTest-static-imports}}

{{#helidon-test}}
@HelidonTest
{{/helidon-test}}
class MainTest {
{{#helidon-test}}
{{#MainTest-static-fields}}
{{.}}
{{/MainTest-static-fields}}

    @Inject
    private WebTarget target;

{{#MainTest-methods}}
{{.}}
{{/MainTest-methods}}
{{/helidon-test}}
}
