
package {{package}};

import java.io.File;
import java.io.IOException;
import java.io.InputStream;
import java.nio.charset.StandardCharsets;
import java.nio.file.Files;
import java.nio.file.Path;
import java.util.List;

{{#FileServiceTest-helidon-imports}}
import {{.}};
{{/FileServiceTest-helidon-imports}}
import io.helidon.microprofile.server.JaxRsCdiExtension;
import io.helidon.microprofile.server.ServerCdiExtension;
import io.helidon.microprofile.tests.junit5.AddBean;
import io.helidon.microprofile.tests.junit5.AddExtension;
import io.helidon.microprofile.tests.junit5.DisableDiscovery;
import io.helidon.microprofile.tests.junit5.HelidonTest;

import jakarta.json.JsonObject;
import jakarta.json.JsonString;
import jakarta.ws.rs.client.Entity;
import jakarta.ws.rs.client.WebTarget;
import jakarta.ws.rs.core.MediaType;
import jakarta.ws.rs.core.Response;
import org.glassfish.jersey.client.ClientProperties;
import org.glassfish.jersey.ext.cdi1x.internal.CdiComponentProvider;
import org.glassfish.jersey.media.multipart.MultiPart;
import org.glassfish.jersey.media.multipart.MultiPartFeature;
import org.glassfish.jersey.media.multipart.file.FileDataBodyPart;
import org.junit.jupiter.api.MethodOrderer.OrderAnnotation;
import org.junit.jupiter.api.Order;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.TestMethodOrder;

import static org.hamcrest.MatcherAssert.assertThat;
import static org.hamcrest.Matchers.containsString;
import static org.hamcrest.Matchers.hasItem;
import static org.hamcrest.Matchers.is;
import static org.hamcrest.Matchers.notNullValue;

/**
 * Tests {@link FileService}.
 */
@HelidonTest
@DisableDiscovery
@AddExtension(ServerCdiExtension.class)
@AddExtension(JaxRsCdiExtension.class)
@AddExtension(CdiComponentProvider.class)
{{#FileServiceTest-annotations}}
{{.}}
{{/FileServiceTest-annotations}}
@AddBean(FileService.class)
@AddBean(FileStorage.class)
@AddBean(MultiPartFeatureProvider.class)
@TestMethodOrder(OrderAnnotation.class)
class FileServiceTest {

    @Test
    @Order(1)
    void testUpload(WebTarget target) throws IOException {
        Path tempDirectory = Files.createTempDirectory(null);
        File file = Files.write(tempDirectory.resolve("foo.txt"), "bar\n".getBytes(StandardCharsets.UTF_8)).toFile();
        MultiPart multipart = new MultiPart()
                .bodyPart(new FileDataBodyPart("file[]", file, MediaType.APPLICATION_OCTET_STREAM_TYPE));
        try (Response response = target
                .property(ClientProperties.FOLLOW_REDIRECTS, Boolean.FALSE)
                .register(MultiPartFeature.class)
                .path("/multipart")
                .request()
                .post(Entity.entity(multipart, MediaType.MULTIPART_FORM_DATA_TYPE))) {
            assertThat(response.getStatus(), is(200));
        }
    }

    @Test
    @Order(2)
    void testList(WebTarget target) {
        try (Response response = target
                .path("/multipart")
                .request(MediaType.APPLICATION_JSON_TYPE)
                .get()) {
            assertThat(response.getStatus(), is(200));
            JsonObject json = response.readEntity(JsonObject.class);
            assertThat(json, is(notNullValue()));
            List<String> files = json.getJsonArray("files").getValuesAs(v -> ((JsonString) v).getString());
            assertThat(files, hasItem("foo.txt"));
        }
    }

    @Test
    @Order(3)
    void testDownload(WebTarget target) throws IOException {
        try (Response response = target
                .register(MultiPartFeature.class)
                .path("/multipart/foo.txt")
                .request(MediaType.APPLICATION_OCTET_STREAM_TYPE)
                .get()) {
            assertThat(response.getStatus(), is(200));
            assertThat(response.getHeaderString("Content-Disposition"), containsString("filename=\"foo.txt\""));
            InputStream inputStream = response.readEntity(InputStream.class);
            assertThat(new String(inputStream.readAllBytes(), StandardCharsets.UTF_8), is("bar\n"));
        }
    }
}