kind: Component
apiVersion: core.oam.dev/v1alpha2
metadata:
  name: {{artifactId}}-component
spec:
  workload:
    apiVersion: oam.verrazzano.io/v1alpha1
    kind: VerrazzanoHelidonWorkload
    metadata:
      name: {{artifactId}}-workload
      labels:
        app: {{artifactId}}
  spec:
      deploymentTemplate:
        metadata:
          name: {{artifactId}}-deployment
        podSpec:
          containers:
            - name: {{artifactId}}-container
              image : {{artifactId}}
              ports:
                - containerPort: 8080
                  name: http
---
kind: ApplicationConfiguration
apiVersion: core.oam.dev/v1alpha2
metadata:
  name: {{artifactId}}-appconf
  annotations:
    version: v1.0.0
    description: "{{artifactId}} application"
spec:
  components:
    - componentName: {{artifactId}}-component
