
package {{package}};

/**
 * Main entry point of the application.
 * This class is registered as the main class in the jar manifest, as well as the main class of the module.
 */
public class Main {
    /**
     * Main method. Starts CDI (and the application).
     *
     * @param args ignored
     */
    public static void main(String[] args) {
        io.helidon.Main.main(args);
    }
}
