<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>{{groupId}}</groupId>
        <artifactId>{{artifactId}}</artifactId>
        <version>{{version}}</version>
    </parent>
    <groupId>{{groupId}}</groupId>
    <artifactId>{{artifactId}}-client</artifactId>
    <packaging>jar</packaging>
    <version>{{version}}</version>
    <name>{{name}} Client</name>

    <properties>
        <json-api-version>1.1.4</json-api-version>
        <cxf-rt-rs-extension-providers_version>3.2.7</cxf-rt-rs-extension-providers_version>
    </properties>

    <dependencies>
        <dependency>
            <groupId>io.helidon.microprofile.rest-client</groupId>
            <artifactId>helidon-microprofile-rest-client</artifactId>
        </dependency>
        <dependency>
            <groupId>jakarta.json.bind</groupId>
            <artifactId>jakarta.json.bind-api</artifactId>
        </dependency>
        <!-- Enable Jackson in Jersey. -->
        <dependency>
            <groupId>org.glassfish.jersey.media</groupId>
            <artifactId>jersey-media-json-jackson</artifactId>
        </dependency>
        <dependency>
            <groupId>javax.json</groupId>
            <artifactId>javax.json-api</artifactId>
            <version>${json-api-version}</version>
        </dependency>
        <dependency>
            <groupId>com.fasterxml.jackson.datatype</groupId>
            <artifactId>jackson-datatype-jsr310</artifactId>
        </dependency>
        <dependency>
            <groupId>org.apache.cxf</groupId>
            <artifactId>cxf-rt-rs-extension-providers</artifactId>
            <version>${cxf-rt-rs-extension-providers_version}</version>
        </dependency>
    </dependencies>

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-dependency-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.jboss.jandex</groupId>
                <artifactId>jandex-maven-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>org.openapitools</groupId>
                <artifactId>openapi-generator-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <id>generate-client</id>
                        <goals>
                            <goal>generate</goal>
                        </goals>
                        <configuration>
                            <inputSpec>${project.basedir}/../spec/api.yaml</inputSpec>
                            <generatorName>java-helidon-client</generatorName>
                            <library>mp</library>
                            <generateModelTests>false</generateModelTests>
                            <generateApiTests>false</generateApiTests>
                            <generateApiDocumentation>false</generateApiDocumentation>
                            <addCompileSourceRoot>true</addCompileSourceRoot>
                            <output>${project.build.directory}/generated-sources/client</output>
                            <apiPackage>{{package}}.client.api</apiPackage>
                            <modelPackage>{{package}}.client.model</modelPackage>
                            <configOptions>
                                <dateLibrary>java8-localdatetime</dateLibrary>
                                <configKey>GreetClient</configKey>
                                <helidonVersion>{{helidonVersion}}</helidonVersion>
                            </configOptions>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-assembly-plugin</artifactId>
            </plugin>
        </plugins>
    </build>
</project>
