*~
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
target/
.idea/
.m2/
*.iws
*.ipr
*.iml
*.releaseBackup
atlassian-ide-plugin.xml
user.txt
nbactions.xml
nb-configuration.xml
node_modules/
node/
*.swp
.gradle/
build/
.project
.settings/
