package ${package};

import java.util.Set;

import javax.enterprise.context.ApplicationScoped;
import javax.ws.rs.ApplicationPath;
import javax.ws.rs.core.Application;

import io.helidon.common.CollectionsHelper;

/**
 * Simple JAXRS Application that registers one resource class.
 */
@ApplicationScoped
@ApplicationPath("/")
public class ${applicationName} extends Application {

    @Override
    public Set<Class<?>> getClasses() {
        return CollectionsHelper.setOf(${restResourceName}.class);
    }
}
