#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
package ${package};

#if( $loggingConfig.matches("y|yes|true") )
import java.io.InputStream;
#end
import java.io.IOException;
#if( $loggingConfig.matches("y|yes|true") )
import java.util.logging.LogManager;
#end

import io.helidon.microprofile.server.Server;

/**
 * The application main class.
 */
public final class Main {

    /**
     * Cannot be instantiated.
     */
    private Main() { }

    /**
     * Application main entry point.
     * @param args command line arguments
     * @throws IOException if there are problems reading logging properties
     */
    public static void main(final String[] args) throws IOException {
#if( $loggingConfig.matches("y|yes|true") )
        // load logging configuration
        setupLogging();

#end
        // start the server
        Server server = startServer();
#if( $restResource.matches("y|yes|true") )
        System.out.println("http://localhost:" + server.port() + "${restResourcePath}");
#end
    }

    /**
     * Start the server.
     * @return the created {@link Server} instance
     */
    static Server startServer() {
        // Server will automatically pick up configuration from
        // microprofile-config.properties
        // and Application classes annotated as @ApplicationScoped
        return Server.create().start();
    }
#if( $loggingConfig.matches("y|yes|true") )

    /**
     * Configure logging from logging.properties file.
     */
    private static void setupLogging() throws IOException {
        try (InputStream is = Main.class.getResourceAsStream("/logging.properties")) {
            LogManager.getLogManager().readConfiguration(is);
        }
    }
#end
}
