package {{package}};

import io.helidon.webserver.testing.junit5.DirectClient;
import io.helidon.webserver.testing.junit5.RoutingTest;

@RoutingTest
class MainIT extends AbstractMainTest {
    MainIT(DirectClient client) {
        super(client);
    }
}