
package {{package}};

{{#MainTest-java-imports}}
import {{.}};
{{/MainTest-java-imports}}

{{#MainTest-helidon-imports}}
import {{.}};
{{/MainTest-helidon-imports}}

{{#MainTest-other-imports}}
import {{.}};
{{/MainTest-other-imports}}

{{#MainTest-static-imports}}
import {{.}};
{{/MainTest-static-imports}}

class MainTest {

{{#MainTest-static-fields}}
{{.}}
{{/MainTest-static-fields}}

    private static WebServer webServer;
    private static WebClient webClient;

    @BeforeAll
    static void startTheServer() {
        webServer = Main.startServer().await(Duration.ofSeconds(10));

        webClient = WebClient.builder()
                .baseUri("http://localhost:" + webServer.port())
{{#MainTest-clientBuilder}}
{{.}}
{{/MainTest-clientBuilder}}
                .build();
    }

    @AfterAll
    static void stopServer() {
        if (webServer != null) {
            webServer.shutdown().await(10, TimeUnit.SECONDS);
        }
    }

{{#MainTest-methods}}
{{.}}
{{/MainTest-methods}}
}
