
# Example Logging Configuration File
# For more information see $JAVA_HOME/jre/lib/logging.properties
{{#logging-entries}}
{{.}}
{{/logging-entries}}
{{#oci-logging-entries}}
{{#first}}

{{/first}}
{{.}}
{{/oci-logging-entries}}

# Global logging level. Can be overridden by specific loggers
.level=INFO

# Quiet Weld
org.jboss.level=WARNING

# Component specific log levels
#io.helidon.config.level=INFO
#io.helidon.security.level=INFO
#io.helidon.common.level=INFO
#io.netty.level=INFO
