
package {{package}};

{{#MainTest-java-imports}}
import {{.}};
{{/MainTest-java-imports}}

{{#MainTest-helidon-imports}}
import {{.}};
{{/MainTest-helidon-imports}}

{{#MainTest-other-imports}}
import {{.}};
{{/MainTest-other-imports}}

{{#MainTest-static-imports}}
import {{.}};
{{/MainTest-static-imports}}

@HelidonTest
@TestMethodOrder(MethodOrderer.MethodName.class)
public class MainTest {

{{#MainTest-static-fields}}
{{.}}
{{/MainTest-static-fields}}

    @Inject
    private WebTarget target;

    @Test
    public void testHealth() throws Exception {
        Response response = target
                .path("health")
                .request()
                .get();
        assertThat(response.getStatus(), is(200));
    }

    @Test
    public void testMetrics() throws Exception {
        Response response = target
                .path("metrics")
                .request()
                .get();
        assertThat(response.getStatus(), is(200));
    }

{{#MainTest-methods}}
{{.}}
{{/MainTest-methods}}
}
