
package {{package}};

import io.helidon.http.Http;
import io.helidon.webserver.testing.junit5.ServerTest;
import io.helidon.webserver.testing.junit5.SetUpServer;
import io.helidon.webclient.http1.Http1Client;
import io.helidon.webclient.http1.Http1ClientResponse;
import io.helidon.webserver.WebServerConfig;

import org.junit.jupiter.api.Test;

import static io.helidon.common.testing.junit5.OptionalMatcher.optionalValue;
import static org.hamcrest.CoreMatchers.is;
import static org.hamcrest.MatcherAssert.assertThat;

/**
 * Unit test for {@link GoogleBuilderMain}.
 */
@ServerTest
public class GoogleMainTest {

    private final Http1Client client;

    GoogleMainTest(Http1Client client) {
        this.client = client;
    }

    @SetUpServer
    public static void setup(WebServerConfig.Builder server) {
        GoogleMain.setup(server);
    }

    @Test
    public void testEndpoint() {
        try (Http1ClientResponse response = client.get("/rest/profile").request()) {

            assertThat(response.status(), is(Http.Status.UNAUTHORIZED_401));
            assertThat(response.headers().first(Http.HeaderNames.WWW_AUTHENTICATE),
                    optionalValue(is("Bearer realm=\"helidon\",scope=\"openid profile email\"")));
        }
    }
}
