package {{package}};

import io.helidon.webclient.WebClient;
import io.helidon.webserver.WebServer;
import org.junit.jupiter.api.AfterAll;
import org.junit.jupiter.api.BeforeAll;
import org.junit.jupiter.api.Test;

import java.time.Duration;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;
import java.util.concurrent.TimeUnit;

import static org.hamcrest.MatcherAssert.assertThat;
import static org.hamcrest.Matchers.is;

class WebClientMainTest {

    private static WebServer webServer;
    private static WebClient webClient;

    @BeforeAll
    static void startTheServer() {
        webServer = Main.startServer().await(Duration.ofSeconds(10));
        webClient = WebClient.builder()
                .baseUri("http://localhost:" + webServer.port() + "/simple-greet")
                .build();
    }

    @AfterAll
    static void stopServer() {
        if (webServer != null) {
            webServer.shutdown()
                    .await(10, TimeUnit.SECONDS);
        }
    }

    @Test
    void getSimpleGreetTest() {
        WebClientMain.performGetMethod(webClient)
{{#media-json}}
                .forSingle(it -> assertThat(it, is("{\"message\":\"Hello World!\"}")))
{{/media-json}}
{{^media-json}}
                .forSingle(it -> assertThat(it, is("Hello World!")))
{{/media-json}}
        .await(Duration.ofSeconds(2));
    }

}
