package {{package}};

import java.util.Set;

import jakarta.enterprise.context.ApplicationScoped;
import jakarta.ws.rs.core.Application;
import org.eclipse.microprofile.auth.LoginConfig;

@LoginConfig(authMethod = "MP-JWT")
@ApplicationScoped
public class JwtApplication extends Application {

    @Override
    public Set<Class<?>> getClasses() {
        return Set.of(JwtResource.class);
    }
}
