package {{package}};

{{#media-json-jackson}}
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonInclude.Include;
{{/media-json-jackson}}

{{#media-json-jackson}}
@JsonInclude(Include.NON_NULL)
{{/media-json-jackson}}
public class Message {

    private String message;

    private String greeting;

    public Message() {
    }

    public Message(String message) {
        this.message = message;
    }

    public void setMessage(String message) {
        this.message = message;
    }

    public String getMessage() {
        return this.message;
    }

    public void setGreeting(String greeting) {
        this.greeting = greeting;
    }

    public String getGreeting() {
        return this.greeting;
    }
}
