package {{package}};

import io.helidon.http.HeaderNames;
import io.helidon.config.Config;
import io.helidon.cors.CrossOriginConfig;
import io.helidon.microprofile.testing.junit5.HelidonTest;
import io.helidon.service.registry.Services;
import jakarta.inject.Inject;
import jakarta.ws.rs.client.Entity;
import jakarta.ws.rs.client.Invocation;
import jakarta.ws.rs.client.WebTarget;
import jakarta.ws.rs.core.MediaType;
import jakarta.ws.rs.core.MultivaluedMap;
import jakarta.ws.rs.core.Response;
import org.junit.jupiter.api.AfterAll;
import org.junit.jupiter.api.BeforeAll;
import org.junit.jupiter.api.Test;

import static io.helidon.http.HeaderNames.ACCESS_CONTROL_ALLOW_METHODS_NAME;
import static io.helidon.http.HeaderNames.ACCESS_CONTROL_ALLOW_ORIGIN_NAME;
import static org.hamcrest.CoreMatchers.hasItems;
import static org.hamcrest.MatcherAssert.assertThat;
import static org.hamcrest.Matchers.containsString;
import static org.hamcrest.Matchers.is;

@HelidonTest
class TestCORS {

    @Inject
    private WebTarget target;

    @Test
    void testAnonymousGreetWithCors() {
        Response r = target.path("/simple-greet")
                .request()
                .header(HeaderNames.ORIGIN_NAME, "http://foo.com")
                .header(HeaderNames.HOST_NAME, "here.com")
                .get();

        assertThat("HTTP response", r.getStatus(), is(200));
        String payload = fromPayload(r);
        assertThat("HTTP response payload", payload.contains("Hello World!"), is(true));
        assertThat("CORS header " + ACCESS_CONTROL_ALLOW_ORIGIN_NAME,
                r.getHeaders().getFirst(ACCESS_CONTROL_ALLOW_ORIGIN_NAME),
                is("http://foo.com"));
    }

    @Test
    void testCustomGreetingWithCors() {
        Response r = target.path("/simple-greet")
                .request()
                .header(HeaderNames.ORIGIN_NAME, "http://foo.com")
                .header(HeaderNames.HOST_NAME, "here.com")
                .header("Access-Control-Request-Method", "PUT")
                .options();

        assertThat("pre-flight status", r.getStatus(), is(204));
        MultivaluedMap<String, Object> responseHeaders = r.getHeaders();
        assertThat("Header " + ACCESS_CONTROL_ALLOW_METHODS_NAME,
                r.getHeaders().get(ACCESS_CONTROL_ALLOW_METHODS_NAME),
                hasItems("PUT", "GET"));
        assertThat("Header " + ACCESS_CONTROL_ALLOW_ORIGIN_NAME,
                r.getHeaders().getFirst(ACCESS_CONTROL_ALLOW_ORIGIN_NAME),
                is("http://foo.com"));

        Invocation.Builder builder = target.path("/simple-greet")
                .request()
                .headers(responseHeaders)
                .header(HeaderNames.ORIGIN_NAME, "http://foo.com")
                .header(HeaderNames.HOST_NAME, "here.com");

        r = putResponse("Cheers", builder);
        assertThat("HTTP response3", r.getStatus(), is(200));
        assertThat( "Header " + ACCESS_CONTROL_ALLOW_ORIGIN_NAME,
                r.getHeaders().getFirst(ACCESS_CONTROL_ALLOW_ORIGIN_NAME),
                is("http://foo.com"));
        assertThat(fromPayload(r), containsString("Cheers World!"));
    }

    @Test
    void testGreetingChangeWithCorsAndOtherOrigin() {
        Invocation.Builder builder = target.path("/simple-greet")
                .request()
                .header(HeaderNames.ORIGIN_NAME, "http://other.com")
                .header(HeaderNames.HOST_NAME, "here.com");

        Response r = putResponse("Ahoy", builder);
        boolean isOverriding = Services.get(Config.class).get("cors").exists();
        assertThat("HTTP response3", r.getStatus(), is(isOverriding ? 200 : 403));
    }

    private static String fromPayload(Response response) {
        return response.readEntity(String.class);
    }

    private static Response putResponse(String message, Invocation.Builder builder) {
        return builder.put(Entity.entity(message, MediaType.TEXT_PLAIN_TYPE));
    }
}
