table.config {
    border-collapse: collapse;
    margin-top: 30px;
    text-align: left;
}

table.config caption {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: left;
}

table.config th {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    white-space: nowrap;
    padding: 6px;
    background: #dee3e9;
}

table.config tr:nth-child(odd) {
    background: #eeeeef;
}

table.config tr:hover {
    background: rgba(159, 201, 233, 0.74);
}

table.config td {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    vertical-align: top;
    padding: 6px;
}

table.config td:first-child {
    white-space: nowrap;
    color: #0072d4;
}
