package {{package}};

import jakarta.enterprise.context.ApplicationScoped;
import jakarta.ws.rs.BadRequestException;
import jakarta.ws.rs.NotFoundException;

import java.io.IOException;
import java.io.UncheckedIOException;
import java.nio.file.Files;
import java.nio.file.Path;
import java.util.stream.Stream;

/**
 * Simple bean to managed a directory based storage.
 */
@ApplicationScoped
public class FileStorage {

    private final Path storageDir;

    /**
     * Create a new instance.
     */
    public FileStorage() {
        try {
            storageDir = Files.createTempDirectory("fileupload");
        } catch (IOException ex) {
            throw new UncheckedIOException(ex);
        }
    }

    /**
     * Get the storage directory.
     * @return directory
     */
    public Path storageDir() {
        return storageDir;
    }

    /**
     * Get the names of the files in the storage directory.
     * @return Stream of file names
     */
    public Stream<String> listFiles() {
        try {
            return Files.walk(storageDir)
                        .filter(Files::isRegularFile)
                        .map(storageDir::relativize)
                        .map(Path::toString);
        } catch (IOException ex) {
            throw new UncheckedIOException(ex);
        }
    }

    /**
     * Create a new file in the storage.
     * @param fname file name
     * @return file
     * @throws BadRequestException if the resolved file is not contained in the storage directory
     */
    public Path create(String fname) {
        Path file = storageDir.resolve(fname);
        if (!file.getParent().equals(storageDir)) {
            throw new BadRequestException("Invalid file name");
        }
        return file;
    }

    /**
     * Lookup an existing file in the storage.
     * @param fname file name
     * @return file
     * @throws NotFoundException If the resolved file does not exist
     * @throws BadRequestException if the resolved file is not contained in the storage directory
     */
    public Path lookup(String fname) {
        Path file = storageDir.resolve(fname);
        if (!file.getParent().equals(storageDir)) {
            throw new BadRequestException("Invalid file name");
        }
        if (!Files.exists(file)) {
            throw new NotFoundException();
        }
        if (!Files.isRegularFile(file)) {
            throw new BadRequestException("Not a file");
        }
        return file;
    }
}
