server:
  port: 8080
  host: 0.0.0.0
  {{#features}}
  features:
    {{#server-features}}
    {{.}}
    {{/server-features}}
  {{/features}}
{{#application-yaml-entries}}

{{.}}
{{/application-yaml-entries}}

