server:
  port: 8080
  host: 0.0.0.0

{{#application-yaml-entries}}
{{.}}
{{/application-yaml-entries}}

{{#security}}
security:
  providers:
{{#providers-config-entries}}
{{.}}
{{/providers-config-entries}}
  web-server:
    # protected paths on the web server - do not include paths served by Jersey, as those are protected directly
    paths:
{{#paths-config-entries}}
{{.}}
{{/paths-config-entries}}
{{/security}}