package {{package}};

/**
 * Document POJO
 */
public class Document {

    private String name;
    private String extension;

    public Document() {
    }

    public Document(String name, String extension) {
        this.name = name;
        this.extension = extension;
    }

    public void setName(String name) {
        this.name = name;
    }

    public String getName() {
        return this.name;
    }

    public void setExtension(String extension) {
        this.extension = extension;
    }

    public String getExtension() {
        return this.extension;
    }
}