package {{package}};

import io.helidon.common.LazyValue;
import io.helidon.common.context.Contexts;
import io.helidon.http.HttpMediaTypes;
import io.helidon.http.Status;
import io.helidon.webclient.http1.Http1Client;
import io.helidon.webclient.http1.Http1ClientResponse;
import io.helidon.webserver.WebServer;
import io.helidon.webserver.http.HttpRules;
import io.helidon.webserver.http.HttpService;
import io.helidon.webserver.http.ServerRequest;
import io.helidon.webserver.http.ServerResponse;
import io.helidon.security.SecurityContext;

class Service1 implements HttpService {

    private final LazyValue<Http1Client> client = LazyValue.create(() -> Contexts.context()
            .flatMap(c -> c.get(WebServer.class))
            .map(server -> Http1Client.builder()
                    .baseUri("http://localhost:" + server.port("service2"))
                    .build())
            .orElseThrow(() -> new IllegalStateException("Unable to get server instance from current context")));

    @Override
    public void routing(HttpRules rules) {
        rules.get("/service1", this::service1)
                .get("/service1-rsa", this::service1Rsa);
    }

    private void service1(ServerRequest req, ServerResponse res) {
        handle(req, res, "/service2");
    }

    private void service1Rsa(ServerRequest req, ServerResponse res) {
        handle(req, res, "/service2-rsa");
    }

    private void handle(ServerRequest req, ServerResponse res, String path) {
        res.headers().contentType(HttpMediaTypes.PLAINTEXT_UTF_8);
        req.context()
                .get(SecurityContext.class)
                .ifPresentOrElse(context -> {
                    try (Http1ClientResponse clientRes = client.get().get(path).request()) {
                        if (clientRes.status() == Status.OK_200) {
                            res.send(clientRes.entity().as(String.class));
                        } else {
                            res.send("Request failed, status: " + clientRes.status());
                        }
                    }
                }, () -> res.send("Security context is null"));
    }
}
