package {{package}};

import io.helidon.nima.testing.junit5.webserver.ServerTest;
import io.helidon.nima.webclient.http1.Http1Client;

@ServerTest
class MainIT extends AbstractMainTest {
    MainIT(Http1Client client) {
        super(client);
    }
}