# Notes
# - cannot run on Windows, as we use shell scripts

name: "Release"

on:
  push:
    branches:
      - 'release-*'
env:
  JAVA_VERSION: '17'
  JAVA_DISTRO: 'oracle'
  MAVEN_HTTP_ARGS: '-Dmaven.wagon.httpconnectionManager.ttlSeconds=60 -Dmaven.wagon.http.retryHandler.count=3'

concurrency:
  group: release-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  copyright:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v3.11.0
        with:
          distribution: ${{ env.JAVA_DISTRO }}
          java-version: ${{ env.JAVA_VERSION }}
          cache: maven
      - name: Copyright
        run: etc/scripts/copyright.sh
  release:
    timeout-minutes: 60
    runs-on: ubuntu-20.04
    environment: release
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.SERVICE_ACCOUNT_TOKEN }}
          fetch-depth: '0'
      - name: Set up JDK 17
        uses: actions/setup-java@v3.11.0
        with:
          distribution: ${{ env.JAVA_DISTRO }}
          java-version: ${{ env.JAVA_VERSION }}
          cache: maven
      - name: Release
        env:
          GPG_PASSPHRASE: ${{ secrets.HELIDON_GPG_PASSPHRASE }}
          GPG_PRIVATE_KEY: ${{ secrets.HELIDON_GPG_PRIVATE_KEY }}
          GPG_PUBLIC_KEY: ${{ secrets.HELIDON_GPG_PUBLIC_KEY }}
          MAVEN_SETTINGS: ${{ secrets.MAVEN_SETTINGS }}
          RELEASE_WORKFLOW: "true"
        run: |
          git config user.email "helidon-robot_ww@oracle.com"
          git config user.name "Helidon Robot"
          etc/scripts/release.sh release_build
      - name: Upload Staged Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: io-helidon-staged-artifacts
          path: parent/target/nexus-staging/
          retention-days: 90
